
    #perResidenceDiv {
        width: 500px;
    }
    
    #flex-container {
        display: flex;
        flex-wrap: wrap;
    }
 
    #flex-container div {
        width: 300px;
    }
 
    fieldset {
        text-align: center;
    }
