<!--<div class="wrap">
    <div id="form-login">
        <form action="#" method="post">
            <h2>Đăng nhập tài khoản</h2>
            <input type="text" name="usename" placeholder="Tên đăng nhập" id="usename">
            <input type="password" name="password" placeholder="Mật khẩu" id="password">
            <input type="submit" name="login" value="Đăng nhập" id="btn-login"> 
        </form>
    </div>
</div> -->
<form class='mt-4 mb-4' method="POST" action="/login">

        <div class="form-group mt-4">
            <label for="code">Tên đăng nhập</label>
            <input type="text" class="form-control" id="code"  name='code'>
        </div>
        <div class="form-group mt-4">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name='password'>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Đăng nhập</button>
    
</form>