<div class="wrap">
    <div id="form-login">
        <form action="#" method="post">
            <h2>Đăng nhập tài khoản</h2>
            <input type="text" name="usename" placeholder="Tên đăng nhập" id="usename">
            <input type="password" name="password" placeholder="Mật khẩu" id="password">
            <input type="submit" name="login" value="Đăng nhập" id="btn-login"> 
        </form>
    </div>
</div>