<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div class="row">
    <div id="myChart" class='col-md-9 shadow mt-4 mb-4'></div>
    <div class="col-md-3">
        <div class="row">
            <div class="toast show m-4">
                {{!-- <div class="toast-header list-unit-header">Thống kê</div> --}}
                <div class="toast-body list-unit-body" style="height: 230px">
                    <select multiple class="form-select" id="nameUnit" name="nameUnitList" style="height: 200px">

                    </select>
                </div>

                <div class="toast-footer list-group list-group-horizontal toast-footer-sm">
                    <select id="chart" class="form-select list-group-item form-select-sm">
                        <option value="ageTower" id="optionAgeTower">Tháp tuổi</option>
                        <option value="population" id="optionPopulation">Dân số</option>
                        <option value="career" id="optionCareer">Tỉ lệ nghề nghiệp</option>
                        {{!-- <option value="4">Trình độ văn hóa</option> --}}
                        <option value="gender" id="optionGender">Giới tính</option>
                        <option value="birthRate" id="optionBirthRate">Tỉ suất sinh</option>
                    </select>
                    <button type="button" class="btn btn-outline-success list-group-item btn-sm border-success"
                        data-bs-placement="top" title="Thống kê" onclick="statistic()"><i
                            class="far fa-chart-bar"></i></button>
                </div>
            </div>
            {{>myUnit}}
        </div>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var code = localStorage.getItem('code');
    if (code.length == 6) {
        $('#optionPopulation').hide();
        $('#optionGender').hide();
    }
    var token = localStorage.getItem("token");
    var selected = [];

    $(window).resize(function () {
        var chart = document.getElementById("chart").value;
        switch (chart) {
            case 'population':
                google.charts.setOnLoadCallback(drawPopulation);
                break;
            case 'ageTower':
                google.charts.setOnLoadCallback(drawAgeTower);
                break;
            case 'career':
                google.charts.setOnLoadCallback(drawCareer);
                break;
            case 'gender':
                google.charts.setOnLoadCallback(drawGender);
                break;
            case 'birthRate':
                google.charts.setOnLoadCallback(drawBirthRate);
                break;
            default:
                google.charts.setOnLoadCallback(drawCareer);
                break;
        }
    });

    getData();

    async function getData() {
        var code = localStorage.getItem('code');
        var path = '/declare/progress?code=' + code;
        let myObject = await fetch(path);
        let data = await myObject.json();
        for (var i = 0; i < data.units.length; i++) {
            $('#nameUnit').append('<option value="' + data.units[i].code + '">' + data.units[i].nameUnit + '</option>');
        }
    }

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawCareer);

    function statistic() {

        selected = $('#nameUnit option:selected')
            .toArray().map(item => item.value);
        console.log(selected);

        var chart = document.getElementById("chart").value;
        switch (chart) {
            case 'population':
                google.charts.setOnLoadCallback(drawPopulation());
                break;
            case 'ageTower':
                google.charts.setOnLoadCallback(drawAgeTower);
                break;
            case 'career':
                google.charts.setOnLoadCallback(drawCareer);
                break;
            case 'gender':
                google.charts.setOnLoadCallback(drawGender);
                break;
            case 'birthRate':
                google.charts.setOnLoadCallback(drawBirthRate);
                break;
            default:
                google.charts.setOnLoadCallback(drawCareer);
                break;
        }
    }

    async function drawBirthRate() {
        const path = "/statistic/" + code + "/birthRate";
        fetch(path, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', },
            body: JSON.stringify({ codes: selected })
        })
            .then(response => response.json())
            .then(data => {
                var name = data.name;
                var years = data.years;
                var numbers = data.numbers;
                var data = new google.visualization.DataTable();

                var dataArray = [['Price', 'Size'],];

                for (var i = 0; i < years.length; i++) {
                    subArray = [years[i], numbers[i]];
                    dataArray.push(subArray);
                }

                var data = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    'height': 500,
                    title: 'Tỉ suất sinh của ' + name,
                    hAxis: { title: 'Năm sinh' },
                    vAxis: { title: 'Số lượng' },
                    legend: 'none'
                };

                var chart = new google.visualization.LineChart(document.getElementById('myChart'));
                chart.draw(data, options);
            });
    }

    async function drawCareer() {

        const path = "/statistic/" + code + "/career";
        fetch(path, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', },
            body: JSON.stringify({ codes: selected })
        })
            .then(response => response.json())
            .then(data => {
                var career = data.career;
                var number = data.number;
                var name = data.name;
                var data = new google.visualization.DataTable();

                var dataArray = [['Career', '%'],];

                for (var i = 0; i < career.length; i++) {
                    subArray = [career[i], number[i]];
                    dataArray.push(subArray);
                }

                var data = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    'height': 500,
                    title: 'Tỉ lệ nghề nghiệp ' + name,
                    is3D: true
                };

                var chart = new google.visualization.PieChart(document.getElementById('myChart'));
                chart.draw(data, options);
            });
    }


    function drawGender() {
        const path = "/statistic/" + code + "/gender";
        fetch(path, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', },
            body: JSON.stringify({ codes: selected })
        })
            .then(response => response.json())
            .then(data => {
                var nameUnit = data.nameUnit;
                var male = data.male;
                var female = data.female;
                var name = data.name;
                var data = new google.visualization.DataTable();

                var dataArray = [['Gender', 'Nam', 'Nữ'],];

                for (var i = 0; i < nameUnit.length; i++) {
                    subArray = [nameUnit[i], male[i], female[i]];
                    dataArray.push(subArray);
                }

                var data = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    'height': 500,
                    title: 'Tỉ lệ giới tính ' + name,
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('myChart'));
                chart.draw(data, options);
            });
    }


    function drawPopulation() {
        var path = "/statistic/" + code + "/population";

        fetch(path, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', },
            body: JSON.stringify({ codes: selected })
        })
            .then(response => response.json())
            .then(data => {
                var nameUnit = data.nameUnit;
                var population = data.population;
                var name = data.name;
                var data = new google.visualization.DataTable();

                var dataArray = [['Population', 'Tổng dân'],];

                for (var i = 0; i < population.length; i++) {
                    subArray = [nameUnit[i], population[i]];
                    dataArray.push(subArray);
                }

                var data = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    'height': 500,
                    title: 'Tháp dân số của ' + name,
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('myChart'));
                chart.draw(data, options);
            });
    }

    function drawAgeTower() {
        const path = "/statistic/" + code + "/ageTower";
        fetch(path, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', },
            body: JSON.stringify({ codes: selected })
        })
            .then(response => response.json())
            .then(data => {
                var male = data.male;
                var female = data.female;
                var name = data.name;
                var data = new google.visualization.DataTable();

                var dataArray = [['Age', 'Nam', 'Nữ'],];

                var subArray = [];

                for (var i = 0; i < male.length - 1; i++) {
                    var x1 = 5 * i;
                    var x2 = 5 * i + 4;
                    var st = "" + x1 + "-" + x2 + "";
                    subArray = [st, male[i], -female[i]];
                    dataArray.push(subArray);
                }
                subArray = ['80+', male[male.length - 1], -female[female.length - 1]];

                dataArray.push(subArray);

                var data = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    isStacked: true,
                    'height': 500,
                    title: 'Tháp tuổi ' + name,
                    hAxis: {
                        format: ';'
                    },
                    vAxis: {
                        direction: -1
                    }
                };

                var chart = new google.visualization.BarChart(document.getElementById('myChart'));

                var formatter = new google.visualization.NumberFormat({
                    pattern: ';'
                });

                formatter.format(data, 2)
                chart.draw(data, options);
            });
    }
</script>