<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="row">
    <div class='col-sm-9 p-3 shadow mt-4 mb-4'>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    </div>
    <div class="col-sm-3 p-3">
      <div class="toast show m-4">
        <div class="toast-header"></div>
        <div class="toast-body"></div>
        <select id="chart">
            <option value="population">Dân số</option>
            <option value="ageTower">Tháp tuổi</option>
            <option value="career">Tỉ lệ nghề nghiệp</option>
            <option value="4">Trình độ văn hóa</option>
            <option value="gender">Tỉ lệ giới tính</option>
        </select>
        <button onclick="statistic()">Thống kê</button>
      </div>
    </div>
</div>






<script>
  var code = localStorage.getItem('code');
  drawPopulation();
  
  function statistic() {
        var chart = document.getElementById("chart").value;
        switch (chart) {
            case 'population':
                drawPopulation();
                break;
            case 'ageTower':
                google.charts.setOnLoadCallback(drawAgeTower);
                break;
            case 'career':
                drawCareer();
                break;
            case 'gender':
                google.charts.setOnLoadCallback(drawGender);
                break;
        }
    }

  var barColors = ["red", "green","blue","orange","brown"];

  async function drawCareer() {
        
        const path = "/statistic/" +  code  + "/career";
        fetch(path)
            .then(response => response.json())
            .then(data => {
                new Chart("myChart", {
                  type: "pie",
                  data: {
                    labels: data.career,
                    datasets: [{
                      backgroundColor: barColors,
                      data: data.number
                    }]
                  },
                  options: {
                    title: {
                      display: true,
                      text: "World Wide Wine Production 2018"
                    }
                  }
                });
            });
  }

  function drawPopulation() {
    const path = "/statistic/" + code  + "/population";
          fetch(path)
              .then(response => response.json())
              .then(data => {
                new Chart("myChart", {
                type: "bar",
                data: {
                  labels: data.nameUnit,
                  datasets: [{
                    backgroundColor: barColors,
                    data: data.population,
                  }]
                },
                options: {
                  legend: {display: false},
                  title: {
                    display: true,
                    text: "World Wine Production 2018"
                  }
                }
              });
                          });
              }
    getText();

    async function getText() {
        var code = localStorage.getItem('code');
        let myObject = await fetch('/declare/progress?code=' + code);
        let data = await myObject.json();
        var rate = data.declared * 100/ (data.declared + data.declaring) 
        $('.toast-header').append("<p>Mã địa phương " + data.unit.code + '</p>');
        $('.toast-body').append('<p class="h5" style="color: #400485">' + data.unit.nameUnit + '</p>');
        $('.toast-body').append('<p>Hạn cuối: ' + data.date + '</p>')
        $('.toast-body').append('<p>Tiến độ: ' + rate + '%</p>');
        $('.toast-body').append('<p>Trạng thái: ' + data.unit.progress + '</p>');    
  }


</script>