<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div>

    <select id="chart">
        <option value="population">Dân số</option>
        <option value="ageTower">Tháp tuổi</option>
        <option value="career">Tỉ lệ nghề nghiệp</option>
        <option value="4">Trình độ văn hóa</option>
        <option value="gender">Tỉ lệ giới tính</option>
    </select>
    <button onclick="statistic()">Thống kê</button>

    <div id="myChart" class='mt-4 mb-4'></div>

</div>

<script>

    
    

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawPopulation);

    function statistic() {
        var chart = document.getElementById("chart").value;
        switch (chart) {
            case 'population':
                google.charts.setOnLoadCallback(drawPopulation);
                break;
            case 'ageTower':
                google.charts.setOnLoadCallback(drawAgeTower);
                break;
            case 'career':
                google.charts.setOnLoadCallback(drawCareer);
                break;
            case 'gender':
                google.charts.setOnLoadCallback(drawGender);
                break;
        }
    }

    async function drawCareer() {
        
        const path = "/statistic" + {{code}}  + "career";
        fetch(path)
            .then(response => response.json())
            .then(data => {
                var career = data.career;
                var number = data.number;
                var name = data.name;
                var data = new google.visualization.DataTable();

                var dataArray = [['Career', '%'],];
                
                for (var i = 0; i < career.length; i++) {
                    subArray = [career[i], number[i]];
                    dataArray.push(subArray);
                }

                var data = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    'width': 800,
                    'height': 500,
                    title: 'Tỉ lệ nghề nghiệp ' + name,
                };

                var chart = new google.visualization.PieChart(document.getElementById('myChart'));
                chart.draw(data, options);
            });          
    }
    

    function drawGender() {
        const path = "/statistic" + {{code}}  + "gender";
        fetch(path)
            .then(response => response.json())
            .then(data => {
                var nameUnit = data.nameUnit;
                var male = data.male;
                var female = data.female;
                var name = data.name;
                var data = new google.visualization.DataTable();

                var dataArray = [['Gender', 'Male', 'Female'],];
                
                for (var i = 0; i < nameUnit.length; i++) {
                    subArray = [nameUnit[i], male[i], female[i]];
                    dataArray.push(subArray);
                }

                var data = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    'width': 800,
                    'height': 500,
                    title: 'Tỉ lệ giới tính ' + name,
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('myChart'));
                chart.draw(data, options);
            });          
    }
    
    function drawPopulation() {
        const path = "/statistic" + {{code}}  + "population";
        fetch(path)
            .then(response => response.json())
            .then(data => {
                var nameUnit = data.nameUnit;
                var population = data.population;
                var name = data.name;
                var data = new google.visualization.DataTable();

                var dataArray = [['Population', 'Tổng dân'],];
                
                for (var i = 0; i < population.length; i++) {
                    subArray = [nameUnit[i], population[i]];
                    dataArray.push(subArray);
                }

                var data = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    'width': 800,
                    'height': 500,
                    title: 'Tháp dân số ' + name,
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('myChart'));
                chart.draw(data, options);
            });          
    }

    function drawAgeTower() {
        const path = "/statistic" + {{code}}  + "ageTower";
        fetch(path)
            .then(response => response.json())
            .then(data => {
                var male = data.male;
                var female = data.female;
                var name = data.name;
                var data = new google.visualization.DataTable();

                var dataArray = [['Age', 'Male', 'Female'],];
                
                var subArray = [];

                for (var i = 0; i < male.length - 1; i++) {
                    var x1 = 5 * i;
                    var x2 = 5 * i + 4;
                    var st = "" + x1 + "-" + x2 + "";
                    subArray = [st, male[i], -female[i]];
                    dataArray.push(subArray);
                }
                subArray = ['80+', male[male.length - 1], -female[female.length - 1]];
               
                dataArray.push(subArray);

                var data = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    isStacked: true,
                    'width': 800,
                    'height': 500,
                    title: 'Tháp tuổi ' + name,
                    hAxis: {
                        format: ';'
                    },
                    vAxis: {
                        direction: -1
                    }
                };

                var chart = new google.visualization.BarChart(document.getElementById('myChart'));

                var formatter = new google.visualization.NumberFormat({
                    pattern: ';'
                });

                formatter.format(data, 2)
                chart.draw(data, options);
            });          
    }
</script>