<header>
    <div id="top">
        <div id="left"><a href='/'>
                <img src='/img/logo.jpg' alt='logo' id='logo' />
            </a></div>
        <div id="right">
            <a href="/login">Đăng nhập</a>
            <a href="#">Đăng xuất</a>
        </div>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">CitizenV</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Xem thông tin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/add/addSurvey">Tổng hợp, phân tích số liệu</a>
                                <a class="dropdown-item" href="/add/addPerson">Xem danh sách</a>
                                <a class="dropdown-item" href="#">Tìm kiếm người cụ thể</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Thêm thông tin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/add/addSurvey">Thêm cuộc khảo sát</a>
                                <a class="dropdown-item" href="/citizens/addPerson">Thêm người</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/addUnit">Cấp tài khoản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">In phiếu khảo sát</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </div>
</header>