  <div class="col-md-3">
    <div class="toast show m-4">
      <div class="toast-header">
      </div>
      <div class="toast-body">
      </div>
      <div class="toast-footer list-group list-group-horizontal">
          <!--<a href="/statistic" class="list-group-item border-success text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Thống kê"><i class="far fa-chart-bar"></i></a>
          <button type="button" id="allocate" class="list-group-item border-primary text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa"><i class="far fa-edit"></i></button>-->
          <button type="button" class="btn btn-danger" id="complete">Hoàn thành nhập liệu</button>
      </div>
    </div>
  </div>
</div>
<script>
    var code = localStorage.getItem('code');
    getDataMyUnit();
    if(code.length != 6) document.getElementById('complete').style.display="none";
    else {
      document.getElementById('complete').style.display="block";
      $("#complete").click(function() {
        alert("Kết thúc quá trình nhập liệu");//Báo cáo hoàn thành
      })
    }
    async function getDataMyUnit() {
        var code = localStorage.getItem('code');
        var path = '/declare/progress?code=' + code;
        let myObject = await fetch(path);
        let data = await myObject.json();
        var rate = 0;
        if (data.declared + data.declaring != 0)
        rate = data.declared * 100/ (data.declared + data.declaring); 
        $('.toast-header').append("<p>Mã địa phương " + data.unit.code + '</p>');
        $('.toast-body').append('<p class="h5" style="color: #400485">' + data.unit.nameUnit + '</p>');
        $('.toast-body').append('<p>Hạn cuối: ' + data.date + '</p>')
        $('.toast-body').append('<p>Tiến độ: ' + rate + '%</p>');
        if (code.length < 6) {
        $('.toast-body').append('<div class="progress"><div class="progress-bar" style="width:' 
                            + rate + '%">' + rate +'%</div></div>');
        }
        $('.toast-body').append('<p>Trạng thái: ' + data.unit.progress + '</p>');
    }
</script>