<div class="toast show m-4">
  <div class="toast-header info-header"></div>
  <div class="toast-body info-body"></div>
  <div class="toast-footer list-group list-group-horizontal toast-footer-sm">
    <button type="button" id="complete" class="btn btn-danger" data-bs-toggle="modal" data-id="all" 
          data-bs-target="#complete-modal" >Hoàn thành nhập liệu</button>
  </div>
</div>

<div id="complete-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận hoàn thành nhập liệu</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn đã hoàn thành nhập liệu?</p>
        <p>Sau khi xác nhận bạn sẽ không thể thay đổi nội dung.</p>
      </div>
      <div class="modal-footer">
        <button id="btn-close-complete" type="button" class="btn btn-danger"  data-bs-dismiss="modal">Xác nhận</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<div id="change-password" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thay đổi mật khẩu?</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="h5">Tên đơn vị: <span id="nameUnit"></span></p>
        <label for="password">Mật khẩu cũ</label>
        <input type="password" class="form-control mb-4" id="password" name="password" required="true">
        <label for="newPass">Mật khẩu mới</label>
        <input type="password" class="form-control mb-4" id="newPass" name="newPass" required="true">
        <label for="confirmPass">Nhập lại mật khẩu</label>
        <input type="password" class="form-control mb-4" id="confirmPass" name="confirmPass" required="true">
      </div>
      <div class="modal-footer">
        <button id="btn-change-password" type="button" class="btn btn-danger" data-bs-dismiss="modal">Sửa đổi</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>



<script>
  var code = localStorage.getItem('code');
  getDataMyUnit();
  
  $('#btn-change-password').click(function () {
      var password = $('#change-password #password').val().trim();
      var newPass = $('#change-password #newPass').val().trim();
      var confirmPass = $('#change-password #confirmPass').val().trim();
      alert('ex: ' + password + '--> new: ' + newPass + '---' + confirmPass);

      var url_post = "/units/changePassword/" + code;

      fetch(url_post, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json', },
        body: JSON.stringify({ password: password, newPass: newPass, confirmPass: confirmPass }),
      })
        .then((res) => res.json())
        .then((data) => {
          getData();
          alert(data.message);
        })
        .catch((error) => {
          alert(error);
        });
    })

  $('#btn-close-complete').click(function() {
    var url_post = "/declare/" + code;
    fetch(url_post, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json', },
        body: JSON.stringify({}),
    })
        .then((res) => res.json())
        .then((data) => {
          getData();
            alert(data.message);
        })
        .catch((error) => {
            alert(error);
        });
    getDataMyUnit();
  })
  
  async function getDataMyUnit() {
    $('.info-header').children().remove();
    $('.info-body').children().remove();
    var code = localStorage.getItem('code');
    var path = '/declare/progress?code=' + code;
    let myObject = await fetch(path);
    let data = await myObject.json();
    localStorage.setItem('progress', data.unit.progress);
    var rate = 0;
    if (data.declared + data.declaring != 0)
      rate = Math.round((data.declared * 100 / (data.declared + data.declaring)) * 10000 / 10000);
    $('.info-header').append('<a data-bs-toggle="modal"' + 
                ' data-bs-target="#change-password" data-bs-toggle="tooltip" data-bs-placement="top"' +
                'title="Thay đổi mật khẩu"><i class="fas fa-cog"></i></a>');
    $('.info-header').append("<p>   Mã địa phương " + data.unit.code + '</p>');
    $('.info-body').append('<p class="h5" style="color: #400485">' + data.unit.nameUnit + '</p>');
    $('.info-body').append('<p>Hạn cuối: ' + data.date + '</p>')
    
    if (code.length <= 6) {
      $('.info-body').append('<p>Tiến độ: ' + rate + '%</p>');
      $('.info-body').append('<div class="progress"><div class="progress-bar" style="width:'
        + rate + '%">' + rate + '%</div></div>');
    }
    $('.info-body').append('<p>Trạng thái: ' + data.unit.progress + '</p>');
    $('.info-body').append('<p>Quyền: ' + data.unit.active + '</p>');
    if (code.length < 6 || data.unit.progress == "Đã khai báo") document.getElementById('complete').style.display = "none";
    else document.getElementById('complete').style.display = "block";
  }
</script>