<form class='mt-4 mb-4'> 
    <fieldset>
        <legend class="mb-4">Thông tin chi tiết</legend>
        
            <div class="form-floating m-4" id="perResidenceDiv">
                <select class="form-control" id="perResidence" name="perResidence">
                    
                </select>
                <label for="perResidence">Địa chỉ thường trú</label>
            </div>
            
        
        <div id="flex-container">
            <div class="form-floating m-4">
                <input type="text" class="form-control" id="name" name="name" placeholder="Họ tên">
                <label for="name">Họ tên</label>
            </div>
            <div class="form-floating m-4">
                <input type="date" class="form-control" id="dob" name="dob" placeholder="Ngày sinh">
                <label for="dob">Ngày sinh</label>
            </div>
            <div class="form-floating m-4">
                <select class="form-control" id='sex' name="sex">
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
                <label for="sex">Giới tính</label>
            </div>
            <div class="form-floating m-4">
                <input type="text" class="form-control" id="CCCD" name="CCCD" placeholder="Số CCCD/CMND">
                <label for="CCCD">Số CCCD/CMND</label>
            </div>
            <div class="form-floating m-4">
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                <label for="phone">Số điện thoại</label>
            </div>
            <div class="form-floating m-4">
                <input type="text" class="form-control" id="hometown" name="hometown" placeholder="Quê quán">
                <label for="perResidence">Quê quán</label>
            </div>
            <div class="form-floating m-4">
                <input type="text" class="form-control" id="curResidence" name="curResidence"
                    placeholder="Địa chỉ tạm trú">
                <label for="curResidence">Địa chỉ tạm trú</label>
            </div>
            <div class="form-floating m-4">
                <input type="text" class="form-control" id="ethnic" name="ethnic" placeholder="Dân tộc">
                <label for="ethnic">Dân tộc</label>
            </div>
            <div class="form-floating m-4">
                <input type="text" class="form-control" id="religion" name="religion" placeholder="Tôn giáo">
                <label for="religion">Tôn giáo</label>
            </div>
            <div class="form-floating m-4">
                <select class="form-control" id='eduLevel' name='eduLevel'>
                    <option>6/12</option>
                    <option>10/12</option>
                    <option>12/12</option>
                </select>
                <label for="eduLevel">Trình độ văn hóa</label>
            </div>
            <div class="form-floating m-4">
                <select class="form-control" id='job' name='job'>
                    <option value="Công chức">Công chức</option>
                    <option value="Công nhân">Công nhân</option>
                    <option value="Học sinh/ Sinh viên">Học sinh/ Sinh viên</option>
                    <option value="Kỹ sư">Kỹ sư</option>
                    <option value="Nông dân">Nông dân</option>
                    <option value="Tự do">Tự do</option>
                </select>
                <label for="job">Nghề nghiệp</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4" onclick="addCitizen()">Hoàn thành</button>
    </fieldset>
</form>


<script>
    getData();
    async function getData() {
      var code = localStorage.getItem('code');
      var constPath = '/units/perResidence/' + code;
      let constObject = await fetch(constPath);
      let constData = await constObject.json();
      var optionPath = '/declare/progress?code=' + code;;
        let optionObject = await fetch(optionPath);
        let optionData = await optionObject.json();
        if(code.length == 8) {
        $("#perResidence").append('<option value="' + code + '">' + optionData.unit.nameUnit + ', ' + constData.perResidence + '</option>');
        }
      if (code.length == 6) {
          $("#perResidence").append('<option value="' + code + '">' + constData.perResidence + '</option>');
          for (let i = 0; i < optionData.units.length; i++) {  
            $("#perResidence").append('<option value="' + optionData.units[i].code + '">' + optionData.units[i].nameUnit + ', ' 
                + constData.perResidence + '</option>');
        }
      }
      
    }



function addCitizen() {
        var code = localStorage.getItem('code');
        var CCCD = document.getElementById('CCCD').value
        var name = document.getElementById('name').value;
        var dob = document.getElementById('dob').value;
        var sex = document.getElementById('sex').value;
        var phone = document.getElementById('phone').value;
        var hometown = document.getElementById('hometown').value;
        var perResidence = $("#perResidence option:selected" ).text();
        var idAdress = document.getElementById('perResidence').value;
        var curResidence = document.getElementById('curResidence').value;
        var ethnic = document.getElementById('ethnic').value;
        var religion = document.getElementById('religion').value;
        var eduLevel = document.getElementById('eduLevel').value;
        var job = document.getElementById('job').value;

        var url_post = '/citizens/store/' + code;

            fetch(url_post, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json', },
                body: JSON.stringify({
                    CCCD: CCCD,
                    name: name,
                    dob: dob,
                    sex: sex,
                    phone: phone,
                    hometown: hometown,
                    perResidence: perResidence,
                    curResidence: curResidence,
                    ethnic: ethnic,
                    religion: religion,
                    eduLevel: eduLevel,
                    job: job,
                    idAdress: idAdress
                })
            })
            .then((res) => res.json())
            .then((data) => {
                alert(data.message);
                if (data.message != "CCCD này đã có trong hệ thống, mời kiểm tra lại" && code.length != 8)
                    document.location.pathname = "/citizens/";
            })
            .catch((error) => {
                alert(data.message);
            })
            ;
    }

</script>