<form class='mt-4 mb-4'>
    <fieldset disabled>
        <legend>Thông tin chi tiết</legend>
        <div class="form-group mt-4">
            <label for="name">Họ và tên</label>
            <input type="text" class="form-control" id="name" placeholder="Nguyễn Văn A">
        </div>
        <div class="form-group mt-4">
            <label for="dob">Ngày sinh</label>
            <input type="date" class="form-control" id="dob">
        </div>
        <div class="form-group mt-4">
            <label for="sex">Giới tính</label>
            <select class="form-control" id='sex'>
                <option>Nam</option>
                <option>Nữ</option>
            </select>
        </div>
        <div class="form-group mt-4">
            <label for="CMND">Số CCCD/CMND</label>
            <input type="text" class="form-control" id="CMND" placeholder="">
        </div>
        <fieldset>
            <legend>Quê quán</legend>
            <div class="form-group">
                <label for="city_1">Tỉnh/Thành phố</label>
                <select id="city_1" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="district_1">Quận/Huyện</label>
                <select id="district_1" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="commune_1">Xã/Thị trấn</label>
                <select id="commune_1" class="form-control">
                </select>
            </div>
        </fieldset>
        <fieldset>
            <legend>Địa chỉ thường trú</legend>
            <div class="form-group">
                <label for="city_2">Tỉnh/Thành phố</label>
                <select id="city_2" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="district_2">Quận/Huyện</label>
                <select id="district_2" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="commune_2">Xã/Thị trấn</label>
                <select id="commune_2" class="form-control">
                </select>
            </div>
        </fieldset>
        <fieldset>
            <legend>Địa chỉ tạm trú</legend>
            <div class="form-group">
                <label for="city_3">Tỉnh/Thành phố</label>
                <select id="city_3" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="district_3">Quận/Huyện</label>
                <select id="district_3" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="commune_3">Xã/Thị trấn</label>
                <select id="commune_3" class="form-control">
                </select>
            </div>
        </fieldset>
        <div class="form-group mt-4">
            <label for="religion">Tôn giáo</label>
            <input type="text" class="form-control" id="religion" placeholder="">
        </div>
        <div class="form-group mt-4">
            <label for="eduLevel">Trình độ văn hóa</label>
            <input type="text" class="form-control" id="eduLevel" placeholder="">
        </div>
        <div class="form-group mt-4">
            <label for="job">Nghề nghiệp</label>
            <input type="text" class="form-control" id="job" placeholder="">
        </div>
    </fieldset>
</form>