<div class='mt-4 mb-4 page shadow'>
        <h1 class='mt-4 mb-4'>Phiếu khảo sát</h1>
        <div class='mt-4 mb-4 form'>
                <div class="mt-4">
                        Họ và tên:.......................................................................................
                        .................................................
                </div>
                <div class="mt-4">
                        <span>Ngày sinh:....../....../.......</span>
                        <span id='sex'>Giới tính: Nam/Nữ</span>
                </div>
                <div class="mt-4">
                        Số CCCD/CMND:..................................................................................
                        ........................................
                </div>
                <div class="mt-4">
                        Số điện thoại:..................................................................................
                        .............................................
                </div>
                <div class="mt-4">
                        Địa chỉ thường trú:..............................................................................
                        ........................................
                </div>
                <div class="mt-4">
                        Địa chỉ tạm trú:................................................................................
                        ............................................
                </div>
                <div class="mt-4">
                        Dân tộc:.........................................................................................
                        .................................................
                </div>
                <div class="mt-4">
                        Tôn giáo:........................................................................................
                        .................................................
                </div>
                <div class="mt-4">
                        Trình độ văn hóa:...............................................................................
                        ..........................................
                </div>
                <div class="mt-4">
                        Nghề nghiệp:.....................................................................................
                        ..........................................
                </div>
                <div class="mt-4 mb-4" id='kyten'>Người khai</div>
        </div>
</div>
<style>
        h1 {
                text-align: center;
        }

        .form {
                margin: auto;
                width: 700px;
                text-align: left;
                font-size: 20px;
        }

        #sex {
                margin-left: 100px;
        }

        #kyten {
                text-align: right;
                padding-right: 100px;
                padding-bottom: 150px;
        }
</style>