<div class="row">
    <div id="info" class="col-md-9 shadow">
     <table class="table table-striped">
      <thead>
        <tr>
          <th>Mã đơn vị</th>
          <th>Tên đơn vị</th>
          <th>Hạn cuối</th>
          <th>Tiến độ</th>
          <th>Trạng thái</th>
          <th>Quyền</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
     </table>
    </div>
    <div class="col-md-3">
      <div class="toast show m-4">
        <div class="toast-header">
        </div>
        <div class="toast-body">
        </div>
        <div class="toast-footer list-group list-group-horizontal">
          <a href="/statistic/" class="list-group-item border-success text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Thống kê"><i class="far fa-chart-bar"></i></a>
          <button type="button" id="allocate" class="list-group-item border-primary text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa"><i class="far fa-edit"></i></button>
        </div>
      </div>
    </div>
</div>

<form name="allocate-unit-form" method="GET"></form>


<script>
  getData();
  
  async function getData() {
    var code = localStorage.getItem('code');
    let myObject = await fetch('/declare/progress?code=' + code);
    let data = await myObject.json();
    var rate = data.declared * 100/ (data.declared + data.declaring) 
    $('.toast-header').append("<p>Mã địa phương " + data.unit.code + '</p>');
    $('.toast-body').append('<p class="h5" style="color: #400485">' + data.unit.nameUnit + '</p>');
    $('.toast-body').append('<p>Hạn cuối: ' + data.date + '</p>')
    $('.toast-body').append('<p>Tiến độ: ' + rate + '%</p>');
    $('.toast-body').append('<p>Trạng thái: ' + data.unit.progress + '</p>');

  }


  var code = localStorage.getItem('code');
  var allocateForm = document.forms['allocate-unit-form'];
  var btnAllocateUnit = document.getElementById('allocate');

  btnAllocateUnit.onclick = function () {
    var code = localStorage.getItem('code');
    allocateForm.action = '/allocate/' + code;
    allocateForm.submit();
  }

</script>