<div class="row">
    <div class="col-sm-9 p-3 shadow">
     
    </div>
    <div class="col-sm-3 p-3">
      <div class="toast show m-4">
        <div class="toast-header">
        </div>
        <div class="toast-body">
        </div>
        <div class="toast-footer list-group list-group-horizontal">
          <a href="/statistic/" class="list-group-item border-success text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Thống kê"><i class="far fa-chart-bar"></i></a>
          <a href="" class="list-group-item border-primary text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa"><i class="far fa-edit"></i></a>
          <a href="" class="list-group-item border-danger text-danger" data-toggle="modal" data-id=""
            data-target="#delete-citizen-modal" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa"><i class="fas fa-trash text-danger"></i></a>
        </div>
      </div>
    </div>
</div>




<script>
  getText();

  async function getText() {
    var code = localStorage.getItem('code');
    let myObject = await fetch('/declare/progress?code=' + code);
    let data = await myObject.json();
    var rate = data.declared * 100/ (data.declared + data.declaring) 
    $('.toast-header').append("<p>Mã địa phương " + data.unit.code + '</p>');
    $('.toast-body').append('<p class="h5" style="color: #400485">' + data.unit.nameUnit + '</p>');
    $('.toast-body').append('<p>Hạn cuối: ' + data.date + '</p>')
    $('.toast-body').append('<p>Tiến độ: ' + rate + '%</p>');
    $('.toast-body').append('<p>Trạng thái: ' + data.unit.progress + '</p>');
    
    
  }
</script>