<div class="row mt-4">
  <p class="h4 units">Các đơn vị đang/ đã tham gia khai báo</p>
  <div id="info" class="col-md-9 mt-4 mb-4 shadow units">
    <div>
        <button type="button" id="allocate" class="btn border-primary text-primary" >Cấp tài khoản <i class="far fa-edit"></i></button>
        <button type="button" id="startAllUnit" class="btn border-primary text-primary" data-bs-toggle="modal" data-id="all" 
          data-bs-target="#start-all-unit-modal">Bắt đầu khai báo</button>
      </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Mã đơn vị</th>
          <th>Tên đơn vị</th>
          <th>Ngày bắt đầu</th>
          <th>Hạn cuối</th>
          <th>Trạng thái</th>
          <th>Quyền</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    {{> myUnit}}
  </div>
</div>

<div id="close-declaration-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thay đổi quyền khai báo?</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="h5">Tên đơn vị: <span id="name-unit"></span></p>
        <label for="timeStart">Thời gian bắt đầu</label>
        <input type="date" class="form-control mb-4" id="timeStart" name="timeStart" required="true">
        <label for="timeEnd">Thời gian kết thúc</label>
        <input type="date" class="form-control mb-4" id="timeEnd" name="timeEnd" required="true">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Quyền</label>
          </div>
          <select class="form-control custom-select" id="active" name="active">
            <option>Không</option>
            <option class="activeOption">Có</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn-close-declaration" type="button" class="btn btn-danger" data-bs-dismiss="modal">Sửa đổi</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<div id="start-all-unit-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bắt đầu khai báo cho tất cả các đơn vị con</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="timeStartAll">Thời gian bắt đầu</label>
        <input type="date" class="form-control mb-4" id="timeStartAll" name="timeStartAll" required="true">
        <label for="timeEndAll">Thời gian kết thúc</label>
        <input type="date" class="form-control mb-4" id="timeEndAll" name="timeEndAll" required="true">
      </div>
      <div class="modal-footer">
        <button id="btn-close-start-all-unit" type="button" class="btn btn-danger" data-bs-dismiss="modal">Bắt
          đầu</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form name="allocate-unit-form" method="GET"></form>
<form name="close-declaration-form" method="POST"></form>

<style>
  #allocate {
    float: left;
  }
  #startAllUnit {
    float: right;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var codeChild;
    var code = localStorage.getItem('code');
    var allocateForm = document.forms['allocate-unit-form'];
    var closeDeclaration = document.forms['close-declaration-form'];
    var btnAllocateUnit = document.getElementById('allocate');
    var btnCloseDeclaration = document.getElementById('btn-close-declaration');
    var btnCloseStartAllUnit = document.getElementById('btn-close-start-all-unit');

    if(code.length == 8) {
      $('.units').hide();
    }

    btnAllocateUnit.onclick = function () {
      allocateForm.action = '/allocate/' + code;
      allocateForm.submit();
    }



    btnCloseDeclaration.onclick = function () {
      var timeStart = $('#close-declaration-modal #timeStart').val().trim();
      var timeEnd = $('#close-declaration-modal #timeEnd').val().trim();
      var active = $('#close-declaration-modal #active').val().trim();

      var url_post = "/declare/close/" + codeChild;

      fetch(url_post, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json', },
        body: JSON.stringify({ timeStart: timeStart, timeEnd: timeEnd, active: active }),
      })
        .then((res) => res.json())
        .then((data) => {
          getData();
          alert(data.message);
        })
        .catch((error) => {
          alert(error);
        });
    }

    btnCloseStartAllUnit.onclick = function () {
      var timeStartAll = $("#start-all-unit-modal #timeStartAll").val().trim();
      var timeEndAll = $("#start-all-unit-modal #timeEndAll").val().trim();

      var url_post = "/declare/open/" + code;

      fetch(url_post, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json', },
        body: JSON.stringify({ timeStart: timeStartAll, timeEnd: timeEndAll }),
      })
        .then((res) => res.json())
        .then((data) => {
          getData();
          alert(data.message);
        })
        .catch((error) => {
          alert(error);
        });

    }

    getData();

    function reserverDate(date) {
      return date.slice(6, 10) + '-' + date.slice(3, 5) + '-' + date.slice(0, 2);
    }

    async function getData() {
      var code = localStorage.getItem('code');
      var path = '/declare/progress?code=' + code;
      let myObject = await fetch(path);
      let data = await myObject.json();
      if(data.unit.active == "Không") $("#startAllUnit").hide();
      $('#timeStartAll').val(reserverDate(data.dateStart));
      $('#timeEndAll').val(reserverDate(data.date));
      $('tbody').children().remove();
      for (let i = 0; i < data.units.length; i++) {
        if (data.units[i].timeEnd == null) data.units[i].timeEnd = "null";
        if (data.units[i].timeStart == null) data.units[i].timeStart = "null";
        $('tbody').append('<tr>' +
          '<td class="code">' + data.units[i].code + '</td>' +
          '<td class="nameUnit">' + data.units[i].nameUnit + '</td>' +
          '<td class="timeStart">' + data.units[i].timeStart.slice(0, 10) + '</td>' +
          '<td class="timeEnd">' + data.units[i].timeEnd.slice(0, 10) + '</td>' +
          '<td class="progres">' + data.units[i].progress + '</td>' +
          '<td class="active">' + data.units[i].active +
          ' <a id="close-modal" data-bs-toggle="modal" data-id="' + data.units[i].code +
          '" data-bs-target="#close-declaration-modal" data-bs-toggle="tooltip" data-bs-placement="top" title="Thay đổi quyền khai báo">' +
          '<i class="far fa-edit text-warning"></i></a></td>' +
          '</tr>');

      }


    }

    // when dialog confirm clicked
    $('#close-declaration-modal').on('shown.bs.modal', async function (event) {
      console.log("Modal successful!")
      var button = $(event.relatedTarget);
      codeChild = button.data('id');

      let myObject = await fetch('/units/' + codeChild);
      let myText = await myObject.json();
      if (localStorage.getItem('active') == 'Không') $('.activeOption').hide();
      $('#name-unit').text(myText.unit.nameUnit);
      $('#timeStart').val(myText.unit.timeStart.slice(0, 10));
      $('#timeEnd').val(myText.unit.timeEnd.slice(0, 10));
    });

  });
</script>